/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */

html,
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #424551;
  font-size: 16px;
  min-width: 480px;
}

.header__logo img {
  width: 200px;
}

.questions__form-radio:focus,
.questions__form-radio:focus-visible {
  /* Ваши стили для активации при фокусе клавиатуры */
  outline: 2px solid #007bff;
}

/*-------------------*/

/*---------translation----------*/

.page {
  display: flex;
  min-height: 100vh;
}

/* Фиксируем позицию body, которую меняет панель гугла*/

.page_fix {
  top: 0 !important;
  position: static !important;
}

/* Прячем панель гугла */

.skiptranslate {
  display: none !important;
}

/* language */

.language {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.language__img {
  margin: 2px;
  cursor: pointer;
  opacity: 0.5;
}

.language__img:hover,
.language__img_active {
  opacity: 1;
}

/*-------------------*/

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.burger {
  display: none;
}
/*------header+banner-------------*/

.banner__text {
  /* margin:100px; */
}

.heading__title {
  font-family: "Manrope", sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.main__questions {
  margin: 9rem 0;
}

.button {
  background: url(/img/white-noise.png),
    linear-gradient(
      90deg,
      #612d79c9 0%,
      #b140b1cc 25%,
      #bb40a6c0 50%,
      #a840b1cc 75%,
      #612d79c9 100%
    );
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 3.25rem;
  padding: 0 2.5rem;
  color: #f7f7f7;
  border-radius: 10px;
  background-size: auto, auto;
  background-size: 35%, 100%;
  white-space: nowrap;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 24px #c553c5;
}

.button--empty {
  background-image: none;
  border: 2px solid #612d79c9;
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background-color: #612d79c9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button--empty:hover {
  transform: scale(1.05);
  box-shadow: 0 0 24px #c553c5;
}

.logo {
}

.heading {
  color: #1e212c;
}

.heading__subtitle {
  line-height: 150%;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.6rem;
}

.heading__title {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 130%;
}

.heading--text-center {
  text-align: center;
}

.index__h1 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin: 2.5rem 0 1.875rem;
}

.index__h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: none;
  margin-top: 1.875rem;
  /* display: flex;
  justify-content: center; */
}

.index__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: none;
  margin: 1.25rem 0;
}

.index__text-ul {
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: none;
  margin: 1rem 0;
}

.underline:hover {
  text-decoration: underline;
}

.pol__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.5px;
}

.pol__text {
  text-indent: 3.125rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

/* ============================== HEADER TOP ============================== */
/* ============================== HEADER TOP ============================== */

.header {
  font-weight: 700;
  /* background: linear-gradient(90deg, rgba(255,199,120,0.2018382352941176) 0%, rgba(255,137,105,0.2018382352941176) 50%, rgba(255,199,120,0.2074404761904762) 100%); */
  background-color: #f7ede8;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

.header2 {
  font-weight: 700;
  background-color: #f7ede8;
  display: flex;
  flex-direction: column;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.header__logo {
  margin-right: 4.375rem;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 2.5rem;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  line-height: 1.6;
  white-space: nowrap;
  transition: all 0.3s;
}

.header__nav-link:hover {
  color: #ffffff;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  padding: 0 1.875rem;
}

/* ============================== HEADER BODY ============================== */
/* ============================== HEADER BODY ============================== */

.header__body {
  display: flex;
  flex-grow: 1;
  padding: 40px 0 50px;
  background-image: url("../images/pic/banner_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e212c;
  margin: auto 0;
}

.header__content {
  margin-right: 0.625rem;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 3.75rem;
  color: #ffffff;
}

.header__play svg {
  margin-right: 1rem;
  border-radius: 50%;
  transition: all 0.3s;
}

.header__play:hover svg {
  box-shadow: 0 0 24px #e65151b6;
  transform: scale(1.05);
}

.header__title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 100%;
  letter-spacing: 1px;
  max-width: 600px;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 4px #660080;
}

.header__text {
  max-width: 400px;
  margin-bottom: 3.75rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 100%;
  color: #504c4cdc;
}

.header__content-buttons {
  display: flex;
}

.header__content-btn {
  margin-right: 1.5rem;
  font-weight: 900;
}

/* ============================== ABOUT_US============================== */

.main__about {
  padding: 6.25rem 0;
}

.about {
  background: #f4f5f7;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateY(-45%);
  background: url("../images/decor/testi-bg.svg") 0 0 / 100% no-repeat;
  width: 95vw;
  height: 650px;
}

.about__inner {
  position: relative;
  z-index: 1;
}

.about__title {
  margin-bottom: 7.25rem;
  display: flex;
  justify-content: center;
}

/* ============flip-box ================= */

.h2 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  overflow: hidden; /* Предотвращает обрезание текста */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px; /* Компенсация за внешние отступы контейнера */
}

.col-lg-4 {
  box-sizing: border-box;
  flex-basis: calc(33.33% - 20px); /* Учтем отступы между карточками */
  margin-bottom: 2.5rem;
}

.flip-box {
  width: 100%;
  height: 400px;
  padding: 0.625rem;
  margin: 0 1rem 1.25rem; /* Компенсация за внешние отступы контейнера и добавление отступа снизу */
  border-radius: 0.625rem;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flip-box-front {
  background-color: #fff;
  color: black;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.flip-box-front h2 {
  font-size: 4rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}

.flip-box-front img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.flip-box-back {
  background-color: #85178557;
  color: #000;
  transform: rotateX(180deg);
  border-radius: 30px;
  padding: 1.5rem 1rem;
  text-align: center;
}

.flip-box-back p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 21.6px;
  margin-bottom: 6px;
}

.flip-box-back a {
  /* background-color: #DF002D; */
  color: white;
  padding: 10.75rem 1.25rem;
  border-radius: 10px;
  margin: 0;
}

.bg {
  background-repeat: no-repeat;
}
.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 30px;
  background-image: url("../images/pic/abacus_and_kid.jpg");
  background-position: center;
  background-size: cover; /* Растягиваем фото на всю область */
  opacity: 0.8;
}

.bg2 {
  background-image: url("../images/pic/abacus_zoomed.jpg");
  background-size: 100%;
  opacity: 0.8;
  background-size: cover;
}

.bg3 {
  position: absolute;
  top: 50%; /* Положение по вертикали на 50% */
  left: 50%; /* Положение по горизонтали на 50% */
  transform: translate(
    -50%,
    -50%
  ); /* Центрирование относительно собственных размеров */
  z-index: -1;
  border-radius: 30px;
  background-image: url("../images/pic/istok_audio.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

/* ====================== */

/* ============================== aboutinvention ============================== */
/* ============================== aboutinvention ============================== */
.aboutinvention {
  background-color: #753e7517;
}
.invention__inner {
  position: relative;
}

.invention__heading {
  margin-bottom: 9rem;
}

.invention__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
  gap: 50px;
  grid-column-gap: 200px;
}

.invention__image-box img {
  width: 100%;
  height: 100%;
}

.invention__link-content {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
}

.invention__link-text {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 110%;
  letter-spacing: 1px;
  margin-top: 1.25rem;
}

.invention__link-text2 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin: 2rem 0 1.5rem 0;
  font-family: "M PLUS Rounded 1c";
  font-weight: 500;
}
.invention__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 110%;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  margin: 9rem 0px 3.125rem 0px;
}
.invention__tittle:last-child {
  margin-top: 14.375rem;
  margin-right: 2.5rem;
}

/* Стилизация списка */
.invention_has {
  list-style-type: none;
  padding-left: 1.25rem; /* Отступ слева для буллетов */
  font-size: 1.5rem;
}

/* Стилизация каждого элемента списка */
.invention_has li {
  position: relative;
  margin-bottom: 1.25rem; /* Расстояние между элементами списка */
}

/* Стилизация буллетов */
.invention_has li:before {
  content: "\2022"; /* Юникод символ для круглой точки */
  color: #ad64b3;
  font-size: 2.5em;
  position: absolute;
  left: -30px; /* Расстояние от буллета до текста */
  top: 0;
}

.main__invention {
  padding: 150px 0;
}

/* ============================== TESTIMONIALS ============================== */
/* ============================== TESTIMONIALS ============================== */

.testimonials {
  background: #f4f5f7;
  position: relative;
}

.main__testimonials {
  padding: 9rem 0;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/decor/testi-bg.svg") 0 0 / 100% no-repeat;
  width: 95vw;
  height: 816px;
}

.testimonials__inner {
  position: relative;
  z-index: 1;
}

.testimonials__heading {
  margin-bottom: 9.75rem;
}

.testimonials__slider-wrapper {
  padding: 0 3.125rem;
  position: relative;
  margin-bottom: 50px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slide {
  padding: 45px;
  background-color: #fff;
  border-radius: 4px;
}

.testimonials__slide-inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 3.625;
}

.testimonials__quote {
  font-size: 1.25rem;
  line-height: 150%;
  margin-bottom: 1.5rem;
  position: relative;
}

.testimonials__quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  background: url("../images/icons/quote-icon.svg") 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.25rem;
}

.testimonials__info-position {
  font-size: 0.875rem;
  line-height: 150%;
  color: #787a80;
}

.testimonials__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.testimonials__arrow path {
  transition: all 0.3s;
}

.testimonials__arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  background-color: #c469c0;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}

.testimonials__prev {
  left: 0;
}

.testimonials__prev::before {
  transform: translate(-50%, -50%) scale(0);
  left: 22%;
}

.testimonials__next {
  right: 0;
  justify-content: flex-end;
}

.testimonials__next::before {
  transform: translate(50%, -50%) scale(0);
  right: 22%;
}

.testimonials__arrow:hover path {
  fill: #fff;
}

.testimonials__prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__next:hover::before {
  transform: translate(50%, -50%) scale(1);
}

.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots li {
  margin-right: 0.75rem;
}

.testimonials__dots li:last-child {
  margin-right: 0;
}

.testimonials__dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.testimonials__dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #b3b7bc;
  border-radius: 3px;
}

.testimonials__dots .slick-active button::before {
  background-color: #424551;
  transition: all 0.3s;
}

.video__inner {
  display: flex;
  justify-content: center;
}

/* ============================== QUESTIONS ============================== */
/* ============================== QUESTIONS ============================== */

.get_in_touch {
  font-size: 1rem;
  font-weight: 500;
}

.questions__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__img {
  min-width: 350px;
}

.questions__img img {
  height: 294px;
  width: 388px;
  margin-left: -2rem;
}

.questions__content {
  margin-left: 1.875rem;
}

.questions__heading {
  margin-bottom: 2.5rem;
}

.questions__form-row {
  display: flex;
  margin-bottom: 1.5rem;
}

.questions__form-label {
  margin-right: 1.5rem;
  flex: 1 1 auto;
}

.questions__form-label:last-child {
  margin-right: 0;
}

.questions__text-label {
  display: block;
  margin-bottom: 3.125rem;
}

.questions__form-input {
  display: block;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  width: 100%;
  margin-top: 0.5rem;
  background-color: #f7f7f7;
}

.questions__form-input::placeholder {
  color: #9a9ca5;
}

.questions__checkbox-label {
  margin-right: 3.125rem;
  display: flex;
  width: 100%;
}

.questions__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin-top: 5px;
  margin: 5px 12px 0px 0px;
}

.questions__form-default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.questions__form-default:checked + .questions__form-custom {
  background: url("../images/icon/check.svg") 50% 50% no-repeat;
  border: 1px solid #612d79c9;
}
.questions__form-radio:checked + span {
  background: url("../images/icon/check.svg") 50% 50% no-repeat;
  color: #50b848;
}
.questions__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #424551;
  border-radius: 3px;
  cursor: pointer;
}

.questions__form-btn {
  align-self: center;
  text-align: center;
  font-size: 1rem;
}

.label-radio {
  display: flex;
  align-items: center;
  text-align: center;
}

.questions__form-radio {
  margin-right: 1rem;
  margin-left: 1.875rem;
}

.questions__btn {
  display: flex;
  justify-content: flex-end;
}

/* ============================== FOOTER ============================== */
/* ============================== FOOTER ============================== */

.footer {
  color: #fff;
}

.footer__top {
  background: linear-gradient(
    90deg,
    rgba(120, 56, 150, 0.65) 0%,
    rgba(255, 137, 192, 0.7) 50%,
    rgba(120, 56, 150, 0.65) 100%
  );
  padding: 1.875rem 0;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.footer__top-col {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.footer__top-col:first-child {
  max-width: 310px;
}

.footer__top-col:last-child {
  max-width: 315px;
}

.footer__top-text {
  font-size: 0.875rem;
  line-height: 80%;
  margin-top: 1rem;
  color: #636363;
}

.footer__socials {
  display: flex;
  margin-top: 3.125rem;
  text-align: center;
}

.footer__socials-item {
  margin-right: 1.875rem;
}

.footer__socials-item:last-child {
  margin-right: 0;
}
.footer__socials-link path {
  transition: all 0.3s;
}

.vk:hover path {
  fill: rgb(28, 50, 122);
}

.site:hover path:first-child {
  fill: #bacad3;
}
.site:hover path:nth-of-type(2) {
  fill: #8d288f;
}
.site:hover path:nth-child(n + 3) {
  fill: #ef3e2f;
}
.site:hover path:nth-of-type(4) {
  fill: #ffc20e;
}
.site:hover path:nth-of-type(5) {
  fill: #50b848;
}
.site:hover path:nth-of-type(7) {
  fill: #ffc20e;
}
.site:hover path:last-child {
  fill: #50b848;
}
.footer__top-title {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  white-space: nowrap;
  pointer-events: none;
}

.footer__top-col:last-child .footer__top-title {
  white-space: normal;
}

.footer__top-list {
}

.footer__top-item {
  margin-bottom: 0.5rem;
}

.footer__top-item:last-child {
  margin-bottom: 0;
}

.footer__item-link {
  opacity: 0.6;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  white-space: nowrap;
}

.footer__item-link svg {
  margin-right: 0.5rem;
}

.footer__item-link:hover {
  opacity: 1;
}

.footer__nav-list {
  margin-top: 1.875rem;
}

.footer__nav-link {
  line-height: 1.6;
  white-space: nowrap;
  transition: all 0.3s;
  opacity: 0.8;
}
.footer__nav-link:hover {
  color: #ffffff;
  opacity: 1;
}

.logo-img{
  display: none;
}
.logo-img {
  max-width: 100%;
  height: auto;
}
/* ================================== MEDIA =============================== */
/* ================================== MEDIA =============================== */
/* ================================== 1360 ================================ */
@media (max-width: 1360px) {
  .header__title {
    font-size: 3.25rem;
    max-width: 376px;
  }
  .header__content {
    padding-left: 2rem;
  }
}
/* ================================== 1200 ================================ */
@media (max-width: 1200px) {
  .header__title {
    font-size: 3.25rem;
    max-width: 376px;
  }

  .h2 {
    font-size: 2.3rem;
  }
  .flip-box {
    width: 90%;
    height: 420px;
    padding: 0;
  }
  .flip-box-back {
    padding: 1rem 1rem;
  }

  .flip-box-back p {
    font-size: 1.2rem;
  }
}

/* ================================== 1100 ================================ */
@media (max-width: 1100px) {
  .header__top {
    background: linear-gradient(
      90deg,
      rgba(120, 56, 150, 0.65) 0%,
      rgba(255, 137, 192, 0.7) 50%,
      rgba(120, 56, 150, 0.65) 100%
    );
  }

  .logo-img{
    display: none;
  }

  .header__wrapper {
    padding: 1rem 4rem;
  }

  .heading__title {
    font-size: 2.2rem;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.349);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .overlay--show {
    visibility: visible;
    opacity: 1;
  }

  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }

  .burger--follow {
    top: 15px;
    right: 15px;
    box-shadow: 0 1px 8px #a1a1a1;
    background-color: #fff;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
    margin: 4px 0;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all 0.3s;
  }

  .header__top--open {
    transform: translateX(0%);
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 6.25rem 0;
  }

  .header__nav {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header__nav-item {
    margin: 0;
  }

  .header__nav-link {
    display: block;
    padding: 0.625rem;
  }

  .header__btn-box {
    flex-direction: column-reverse;
  }

  .header__top-btn {
    margin: 0;
  }

  .header__user-nav {
    margin-bottom: 1.875rem;
  }

  .about__img {
    max-width: 400px;
  }

  /* ----------------------------------- */
  .main__about {
    padding: 4.75rem 0;
  }

  .row {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px; /* Компенсация за внешние отступы контейнера */
  }
  .flip-box {
    width: 100%;
    height: 420px;
    padding: 0;
  }

  /* ----------------------------------- */
  .main__invention {
    padding: 4.75rem 0;
  }
  .invention__heading {
    margin-bottom: 6rem;
  }
  .invention__list {
    gap: 20px;
    grid-column-gap: 20px;
  }
  .invention__link-content {
    padding: 1rem;
  }
  .invention__link-text {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: 1px;
    margin-top: 1.25rem;
  }
  .invention__link-text2 {
    font-size: 1.3rem;
  }
  .invention__title {
    font-size: 1.7rem;
  }
  .invention_has {
    font-size: 1.2rem;
  }
  /* --------------------- */
  .row_wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .questions__form-btn {
    margin-top: 1rem;
  }
  /* -------------- */
  .main__testimonials {
    padding: 4.75rem 0;
  }
  .testimonials__heading {
    margin-bottom: 6rem;
  }
  .testimonials__slider-wrapper {
    padding: 0 3.125rem;
    position: relative;
    margin-bottom: 0px;
  }
  .testimonials__slide {
    padding: 25px;
  }
}

/* ================================== 900 ================================ */
@media (max-width: 900px) {
  .header__content {
    margin: 0;
  }

  .header__row {
    display: none;
  }
  /* ----------------------------------- */
  .invention__link-content {
    padding: 0;
  }
  .invention__link-text {
    margin-bottom: 0;
    margin-top: 0;
  }
  .invention__link-text2 {
    margin: 2rem 0 1rem 0;
  }
  /* ---------------------- */
  .questions__img {
    display: none;
  }
  /* ----------------------------- */
  .footer__nav {
    display: none;
  }
  .footer__socials-item svg:first-child {
    width: 50px;
  }
  .footer__socials-item svg:last-child {
    height: 30px;
  }
  .footer__top-text {
    display: none;
  }

  .footer__socials {
    margin-top: 26px;
  }

  .footer__socials-item {
    margin-right: 5px;
  }
  .footer__top-title {
    display: none;
  }

  .footer__top-col:last-child .footer__top-title {
    white-space: normal;
  }

  .footer__top {
    padding: 10px 0;
  }

  .footer__top-item {
    margin-bottom: 0;
  }

  .footer__top-col {
    padding: 0;
  }

  .footer__top-inner {
    margin: 0;
  }

  .footer__nav-list {
    padding-top: 1rem;
  }

  .footer__top-list {
    margin-top: 1rem;
    font-size: 14px;
  }
}

/* ================================== 700 ================================ */
@media (max-width: 700px) {
  .about__createx {
    margin-bottom: 3.75rem;
  }

  .about__values {
    flex-direction: column;
  }

  .about__image-box {
    display: none;
  }

  .about__numbers {
    margin: 0;
    align-self: flex-start;
  }

  /* ----------------------------------- */

  /* ----------------------------------- */
  .testimonials__slider-wrapper {
    padding: 0;
  }

  .testimonials__slide {
    padding: 1.875rem 1rem;
  }

  .testimonials__arrow {
    display: none;
  }
}

/* ================================== 550 ================================ */
@media (max-width: 550px) {
  .heading__subtitle {
    font-size: 0.875rem;
    margin: 0;
  }
.heading__subtitle {
  line-height: 150%;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.2rem;
}
  .header__top-btn {
    padding: 0 2rem 0 1rem;
/* Скрыть текстовую часть кнопки */
text-indent: -9999px;
overflow: hidden;
width: 100%;
height: 100%;
background: url('/images/pic/whatsapp.png') no-repeat center center;
background-size: cover;
  }


  .logo-img {
    display: inline-block;
  }

  .header__logo {
    margin-right: 1.5rem;
  }

  .header__wrapper {
    padding: 1rem 4rem 1rem 1rem;
  }

  .heading__title {
    font-size: 1.5rem;
  }

  .burger{transform: translate(5%, 15%)}
  /* ----------------------------------- */
  .main__about {
    padding: 3.75rem 0;
  }

  .main__invention,
  .main__testimonials {
    padding-bottom: 6.25rem;
  }

  .main__questions {
    padding-bottom: 2.5rem;
    margin: 2rem 0;
  }

  .header__content-buttons {
    flex-direction: column;
    align-items: center;
  }

  .header__content-btn {
    margin-right: 20rem;
    margin-bottom: 0.75rem;
  }

  /* ----------------------------------- */

  .about__text {
    margin-bottom: 1.875rem;
  }

  .about__paragraph {
    font-size: inherit;
    margin-bottom: 0.625rem;
  }

  .about__btn-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .about__btn {
    margin: 0 0 1.875 0;
  }

  .about__btn:last-child {
    margin: 0;
  }

  /* ----------------------------------- */
  .invention__list {
    grid-template: none;
  }

  .invention__list-item--empty {
    display: none;
  }

  /* ----------------------------------- */
  .testimonials__slider-wrapper {
    margin-bottom: 1rem;
  }

  .testimonials__slide-inner {
    padding-left: 1.875rem;
  }

  .testimonials__quote {
    font-size: inherit;
    line-height: inherit;
  }

  .testimonials__quote::before {
    left: -30px;
    width: 20px;
  }

  .testimonials__dots button {
    width: 20px;
  }

  /* ----------------------------------- */
  .questions__form-row {
    flex-direction: column;
  }

  .questions__form-label {
    font-size: 0.875rem;
    margin: 0px 0px 1.5rem 0px;
  }

  .questions__form-label:last-child {
    margin: 0px;
  }

  .questions__form-input {
    margin-top: 0.5rem;
  }

  .questions__text-label {
    font-size: 0.875rem;
  }

  .questions__checkbox-label {
    font-size: 0.875rem;
    margin: 0 0 1.5rem 0;
  }

  /* ----------------------------------- */
  .footer__top-inner {
    flex-direction: column;
  }

  .footer__top-title--slide {
    pointer-events: auto;
    margin: 0;
  }

  .footer__top-list {
    margin-top: 0.75rem;
    display: none;
  }

  .footer__socials-item svg:last-child {
    height: 42px;
}

.footer__socials {
  margin-left: 25rem;
  margin-top: -43px;
}

/* ================================== 450 ================================ */
@media (max-width: 450px) {
  .header__top {
    min-width: none;
    left: 0;
  }



  /* ----------------------------------- */

  .header__title {
    max-width: none;
    font-size: 2.5rem;
  }

  .heading__subtitle {
    line-height: 150%;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 2.2rem;
  }

  .header__content-btn {
    margin: 0px 0px 1.875rem 0px;
    text-align: center;
  }

  /* ----------------------------------- */
  .invention__filter-box {
    margin-bottom: 1rem;
  }

  /* ----------------------------------- */
  .footer__top-inner {
    flex-direction: column;
  }

  .footer__top-title--slide {
    pointer-events: auto;
    margin: 0;
  }

  .footer__top-list {
    margin-top: 0.75rem;
    display: none;
  }

  .footer__socials-item svg:last-child {
    height: 42px;
}

.footer__socials {
  margin-left: 22rem;
}

}

@media (max-width: 480px) {
  .header__body {
    background-size: cover;
    height: 80vh;
  }


  .header__title {
    font-size: 1.5rem;
    max-width: 100%;
  }

  .header__text {
    max-width: 100%;
    margin-bottom: 31.875rem;
  }

  .header__content-buttons {
    flex-direction: column;
    align-items: center;
  }

  .header__content-btn {
    margin-right: 0;
    margin-bottom: 0.75rem;
  }
}
.main__questions {
  margin-bottom: -0.5rem;
}
.heading__subtitle {
  line-height: 150%;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.2rem;
}
}